body {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 1200px;
    margin: 0 auto; 
}
* {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.header {
    background-color: #2b665b;
}
.nav-list {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}
.list-item {
    margin-right: 40px;
    color: #fff;
    font-weight: bold;
}




footer {
    background-color: #2b665b;
}
.footer-list {
    display: flex;
    align-items: center;
}
.footer-list-item {
    margin-right: 40px;
    color: #fff;
    font-weight: bold;
}